@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
  background-image: url('https://www.pcclean.io/wp-content/uploads/2020/4/JjUjya.jpg');
  background-size: cover;
  height: 100vh;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cover{
  width: 750px;
  height: 400px;
  border-radius: 10px;
}

.typewriter {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 150px;
  color: white;
  font-size: 33px;
  right:150px;
  width: 700px;
  display: flex;
  overflow: hidden; 
  border-right: .15em solid black;
  white-space: nowrap; 
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.mb-3{
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

.weather-card{
  margin: 0 auto;
  height: auto;
  background-color: rgb(97, 96, 96, 0.6);
  color: white;
  float: left;
  font-weight: 700;
}

.max{
  font-size: 45px;
}

.icon{
  width: 100px;
}

.fade{
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

.badge{
  margin-bottom: 5px;
  width: auto;
  height: 30px;
  font-size: 15px;
}

.blocks{

  width: 650px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.weatherr{
  display: flex;
  flex-direction: column;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foredetail{
  font-size: 13px;
}

.cover-card{
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.card-content{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(97, 96, 96, 0.6);
  color: white;
}